
@{
    ViewBag.Title = "管理员管理";
    Layout = "~/Areas/FormalSysManagement/Views/Shared/MasterPage.cshtml";
}
@section css {
    
    }

<!-- 添加管理员 -->
<div class="modal fade" id="addAdmin" tabindex="-1" role="dialog" aria-labelledby="addUser" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">添加管理员</h4>
            </div>
            <div class="modal-body">
                <input type="text" name="uname" id="uname" placeholder="用户名" /><br />
                <input type="text" name="upwd" id="upwd" placeholder="密码" /><br />
                <input type="button" onclick="sayhi.user.submitAddUserView(11)" value="提交" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">明白</button>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="col-md-5 col-md-offset-3" id="list">

        <ul class="list-group sayhi-user-list">
            <li class="list-group-item" v-for="todo in todos">
           
                <a class="badge delUserInfo" onclick="sayhi.Managementer.delAdmin({{todo.id}})" href="#">删除</a>
                <div class="sayhi-list-item">
                    <span class="glyphicon glyphicon-user"></span>
                    <span>{{todo.AdminName}}</span>
                </div>

            </li>
            <li class="list-group-item">
                <a id="upPage" href="javascript:;" onclick="sayhi.pageData.upPage(sayhi.Managementer.request_page)">上一页</a>
                <a href="javascript:;" onclick="sayhi.pageData.nextPage(sayhi.Managementer.request_page)">下一页</a>
            </li>
        </ul>


    </div>

    <div class="col-md-2">
        <button onclick="javascript: sayhi.Managementer.addAdmin();" type="button" class="btn btn-default">新建管理员</button>
    </div>
</div>
@section js {
<script src="~/Areas/FormalSysManagement/js/Managementer.js"></script>
    
    }

