
@{
    ViewBag.Title = "主页";
    Layout = "~/Views/SayHiMasterView.cshtml";
}

 <!-- 幻灯片1 -->
<div class="am-slider am-slider-default sayhi-banner" data-am-flexslider="{playAfterPaused: 8000}">
    <ul class="am-slides">
        <li>
            <img src="~/img/banner/banner_1.jpg" />
            <div class="am-slider-desc sayhi-nor">这是标题标题标题标题标题标题标题0</div>
        </li>
        <li>
            <img src="~/img/banner/banner_2.jpg" />
            <div class="am-slider-desc sayhi-nor">这是标题标题标题标题标题标题标题0</div>
        </li>
        <li>
            <img src="~/img/banner/banner_3.jpg" />
            <div class="am-slider-desc sayhi-nor">这是标题标题标题标题标题标题标题0</div>
        </li>
        <li>
            <img src="~/img/banner/banner_4.jpg" />
            <div class="am-slider-desc sayhi-nor">这是标题标题标题标题标题标题标题0</div>
        </li>
        <li>
            <img src="~/img/banner/banner_4.jpg" />
            <div class="am-slider-desc sayhi-nor">这是标题标题标题标题标题标题标题0</div>
        </li>
    </ul>
</div>

<!-- 小说 -->
<section class="am-panel sayhi-panel-yellow">
    <header class="am-panel-hd">
        <h3 class="am-panel-title"><span class='am-icon-book'></span>&nbsp;小说</h3>
    </header>
    <div class="am-panel-bd">

        <div style='box-shadow: none;' class="am-slider am-slider-default am-slider-carousel"
             data-am-flexslider="{itemWidth: 200, itemMargin: 5, slideshow: false}">
            <ul class="am-slides">
                <li>
                    <div class="am-thumbnail">
                        <a href="#">
                            <img src="~/img/book/book_1.png" alt="" />
                            <div class="am-thumbnail-caption">
                                <p>作品：xxx</p>
                            </div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="am-thumbnail">
                        <img src="~/img/book/book_1.png" alt="" />
                        <div class="am-thumbnail-caption">
                            <p>作品：xxx</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="am-thumbnail">
                        <img src="~/img/book/book_1.png" alt="" />
                        <div class="am-thumbnail-caption">
                            <p>作品：xxx</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="am-thumbnail">
                        <img src="~/img/book/book_1.png" alt="" />
                        <div class="am-thumbnail-caption">
                            <p>作品：xxx</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="am-thumbnail">
                        <img src="~/img/book/book_1.png" alt="" />
                        <div class="am-thumbnail-caption">
                            <p>作品：xxx</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="am-thumbnail">
                        <img src="~/img/book/book_1.png" alt="" />
                        <div class="am-thumbnail-caption">
                            <p>作品：xxx</p>
                        </div>
                    </div>
                </li>

            </ul>
        </div>

    </div>
</section>
<!-- 幻灯片2 -->
<div class="am-slider am-slider-default sayhi-banner" data-am-flexslider="{playAfterPaused: 8000}">
    <ul class="am-slides">
        <li>
            <img src="~/img/banner/banner_1.jpg" />
            <div class="am-slider-desc sayhi-nor">这是标题标题标题标题标题标题标题0</div>
        </li>
        <li>
            <img src="~/img/banner/banner_2.jpg" />
            <div class="am-slider-desc sayhi-nor">这是标题标题标题标题标题标题标题0</div>
        </li>
        <li>
            <img src="~/img/banner/banner_3.jpg" />
            <div class="am-slider-desc sayhi-nor">这是标题标题标题标题标题标题标题0</div>
        </li>
        <li>
            <img src="~/img/banner/banner_4.jpg" />
            <div class="am-slider-desc sayhi-nor">这是标题标题标题标题标题标题标题0</div>
        </li>
        <li>
            <img src="~/img/banner/banner_4.jpg" />
            <div class="am-slider-desc sayhi-nor">这是标题标题标题标题标题标题标题0</div>
        </li>
    </ul>
</div>

<!-- 漫画 -->
<section class="am-panel sayhi-panel-blue">
    <header class="am-panel-hd">
        <h3 class="am-panel-title"><span class='am-icon-picture-o'></span>&nbsp;漫画</h3>
    </header>
    <div class="am-panel-bd">
        <div class="am-slider am-slider-default am-slider-carousel"
             data-am-flexslider="{itemWidth: 200, itemMargin: 5, slideshow: false}">
            <ul class="am-slides">
                <li><img src="~/img/book/book_1.png" /></li>
                <li><img src="~/img/book/book_2.png" /></li>
                <li><img src="~/img/book/book_1.png" /></li>
                <li><img src="~/img/book/book_2.png" /></li>
                <li><img src="~/img/book/book_1.png" /></li>
                <li><img src="~/img/book/book_2.png" /></li>
                <li><img src="~/img/book/book_1.png" /></li>
                <li><img src="~/img/book/book_2.png" /></li>
            </ul>
        </div>
    </div>
</section>
<!-- 最新 -->
<div class="am-tabs" data-am-tabs>
    <ul class="am-tabs-nav am-nav am-nav-tabs">
        <li class="am-active"><a href="#tab1">最新小说</a></li>
        <li><a href="#tab2">最新漫画</a></li>
        <li><a href="#tab3">相关答疑</a></li>
    </ul>

    <div class="am-tabs-bd">
        <div class="am-tab-panel am-fade am-in am-active" id="tab1">
            置身人群中<br>你只需要被淹没 享受 沉默<br>退到人群后<br>你只需给予双手 微笑 等候
        </div>
        <div class="am-tab-panel am-fade" id="tab2">
            走在忠孝东路<br>徘徊在茫然中<br>在我的人生旅途<br>选择了多少错误<br>我在睡梦中惊醒<br>感叹悔言无尽<br>恨我不能说服自己<br>接受一切教训<br>让生命去等候<br>等候下一个漂流<br>让生命去等候<br>等候下一个伤口
        </div>
        <div class="am-tab-panel am-fade" id="tab3">
            我就这样告别山下的家，我实在不愿轻易让眼泪留下。我以为我并不差不会害怕，我就这样自己照顾自己长大。我不想因为现实把头低下，我以为我并不差能学会虚假。怎样才能够看穿面具里的谎话？别让我的真心散的像沙。如果有一天我变得更复杂，还能不能唱出歌声里的那幅画？
        </div>
    </div>
</div>

