

<a class="menu_reg" id="uName" href="javascript:;">@ViewData["uName"]</a>
<a class="menu_login" onclick="location.href ='Person/overUserInfo'" href="">注销</a>
<ul class="user_down_list">
    <li class="user_down_item">
    <a href="#">个人中心</a>
        <a href="#">修改密码</a>
        <a href="#">更换头像</a>
        <a href="#">设置</a>
    </li>
    <li class="user_down_item">
    <a href="#">管理中心</a>
        <a href="#">漫画</a>
        <a href="#">小说</a>
        <a href="#">企划</a>
        <a href="#">Paro</a>
        <a href="#">角色</a>
    </li>
    <li class="user_down_item">
    <a href="#">我的钱包</a>
        <a href="#">在线充值</a>
        <a href="#">交易记录</a>
        <a href="#">商城作品</a>
        <a href="#">余额查询</a>
    </li>
    <li class="user_down_item">
    <a href="#">我的消息</a>
        <a href="#">私信消息</a>
        <a href="#">社区@我</a>
        <a href="#">系统消息</a>
        <a href="#">好友申请</a>
    </li>
</ul>